# Supabase Configuration
VITE_SUPABASE_URL=https://hvjjcegcdivumprqviug.supabase.co
VITE_SUPABASE_ANON_KEY=SUA_CHAVE_ANONIMA_AQUI
VITE_SUPABASE_SERVICE_ROLE_KEY=SUA_CHAVE_SERVICO_AQUI

# Outras configurações
VITE_APP_ENV=development
